<div class="max-w-7xl mx-auto min-h-screen space-y-4">
  <app-header />

  <div class="grid grid-cols-1 sm:grid-cols-2 sm:grid-rows-2 md:grid-cols-3 lg:grid-cols-7 min-h-96 gap-4">
    <div class="col-span-1 lg:col-span-2 rounded-xl p-2 border shadow">
      <app-dashboard-item image="favicon.ico" title="Server Status">
        <app-server-status />
      </app-dashboard-item>
    </div>
    <div class="col-span-1 md:col-span-2 lg:col-span-3 rounded-xl p-2 border shadow">
      <app-dashboard-item image="favicon.ico" title="Traffic">
        <app-traffic />
      </app-dashboard-item>
      
    </div>
    <div class="col-span-1 sm:row-span-1 sm:col-span-2 md:col-span-3 lg:col-span-2 rounded-xl p-2 border shadow">
      <app-dashboard-item image="favicon.ico" title="Tickets">
        <app-tickets />
      </app-dashboard-item>
    </div>
  </div>

</div>